{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <h1>Newsletter Subscription Form</h1>
        {% if error is defined %}
            <div>{{ error }}</div>
        {% endif %}
        <div>
            {{ form_start(form) }}
            {{ form_errors(form.email) }}

            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div>
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>

            <div>
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>

            <div>
                {{ form_label(form.subscription) }}
                {{ form_widget(form.subscription) }}
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
